h1 {
  font-family: verdana;
}

#beachBackground {
  display: flex;
}

#theHead {
  background-color: Bisque;
  height: 10vh;
  margin-left: auto;
  margin-right: auto;
}

#theBody {
  background-color: MediumBlue;
  height: 20vh;
  margin-left: auto;
  margin-right: auto;
}

#salmon {
  display: flex;
  height: 20vh;
}

#coffee {
  display: flex;
}

#video {
  width: 400;
}
