h1 {
  text-align: left;
  font-size: 100px;
  font-family: 'Helvetica';
  margin-top: 150px;
  margin-bottom: 0px;
  margin-left: 2em;
}

#rect1 {
  height: 60px;
  width: 550px;
  background-color: rgb(0, 0, 255, 0.5);
  position: absolute;
  top: 205px;
  left: 12em;
}

#rect2 {
  height: 60px;
  width: 280px;
  background-color: rgb(0, 0, 255, 0.5);
  position: absolute;
  top: 320px;
  left: 12em;
}

body {
  height: 1000px;
  background: linear-gradient(180deg, Pink, CornflowerBlue);
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 2fr 1fr 1fr;
}

.name {
  grid-row: 2;
  grid-column: 1;
}

.assignments {
  grid-row: 2;
  grid-column: 2;
  font-family: 'Helvetica';
  margin-left: 12em;

}
