/*sidenav*/
nav {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 30vh;
  padding-right: 3%;
  padding-left: 10%;
  text-align: right;
  line-height: 1.3;
  font-family: 'Lato', sans-serif;
  background-color: #141414;
}


#logo {
  width: 200px;
}

/*homepage*/
body {
  font-family: 'Lato', sans-serif;
  background-color: #141414;
  color: white;
  margin-left: 30%;
  margin-right: 8%;
  margin-top: 30vh;
  padding-left: 5vh;

}

.projects {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  gap: 25px;
  position: relative;
  width: 350px;
  border-radius: 20px;
}

/*.image1 {
  width: 350px;
  border-radius: 20px;
  position: relative;
}*/

.projects img {
  width: 350px;
  border-radius: 20px;
}

.projects h3 {
  text-align: center;
}

/*


.projects:hover .overlay {
  opacity: 1;
}

.overlay {
  transition: 0.3s ease;
  opacity: 0;
  background-color: rgba(58,58,58,0.6);
  position: absolute;
}


.overlay1 {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: gray;
}

.text1 {
  color: white;
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.image2 {
  width: 350px;
  border-radius: 20px;
  position: relative;
}
.image3 {
  width: 350px;
  border-radius: 20px;
  position: relative;
}
.image4 {
  width: 350px;
  border-radius: 20px;
  position: relative;
}
.image5 {
  width: 350px;
  border-radius: 20px;
  position: relative;
}*/



/*minibook page*/
#hkbookpages {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  gap: 20px;
  position: relative;
}

#hkbookpages img {
  width: 400px;
}

#mocked {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  gap: 20px;
  position: relative;
}

#mocked img {
  width: 400px;
}

#mag {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  gap: 20px;
  position: relative;
}

#mag img {
  width: 400px;
}

#yearbook {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  gap: 20px;
  position: relative;
}

#yearbook img {
  width: 400px;
}

#illus {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  gap: 20px;
  position: relative;
}

#illus img {
  width: 400px;
}