body {
  /* background-color: black; */
  font-family: sans-serif;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

#presets {
  grid-column-start: 1;
}

#p5 {
  grid-column-start: 2;
}
