body {
  text-align: center;
  font-family: monospace;
  background-color: black;
  color: white;
  font-size: 20px;
}

.viz img {
  width: 20em;
}

.palettes img {
  width: 50em;
}

.wireframe img {
  width: 50em;
}

a .next {
  position: fixed;
  bottom: 30px;
  right: 30px;
}

a .back {
  position: fixed;
  bottom: 30px;
  left: 30px;
}
