body {
  color: black;
  font-family: sans-serif;
  text-align: center;
}

.colors {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/*#red {
    width: 30px;
    height: 30px; 
    background-color: red;
}*/

#orange {
    width: 30px;
    height: 30px; 
    background-color: orange;
}

#yellow {
    width: 30px;
    height: 30px; 
    background-color: yellow;
}

#beige {
    width: 30px;
    height: 30px; 
    background-color: beige;
}

#green {
    width: 30px;
    height: 30px; 
    background-color: green;
}

#mediumturquoise {
    width: 30px;
    height: 30px; 
    background-color: mediumturquoise;
}

#blue {
    width: 30px;
    height: 30px; 
    background-color: blue;
}

#midnightblue {
    width: 30px;
    height: 30px; 
    background-color: midnightblue;
}


#purple {
    width: 30px;
    height: 30px; 
    background-color: purple;
}

#hotpink {
    width: 30px;
    height: 30px; 
    background-color: hotpink;
}

#fuchsia {
    width: 30px;
    height: 30px; 
    background-color: fuchsia;
}

#sienna {
    width: 30px;
    height: 30px; 
    background-color: sienna;
}

#slategray {
    width: 30px;
    height: 30px; 
    background-color: slategray;
}

#black {
    width: 30px;
    height: 30px; 
    background-color: black;
}
/*
.grid { 
    margin-left: auto; 
    margin-right: auto;
    border-collapse: collapse;
}

.grid td {
    cursor: pointer;
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    text-align: center;
    font-family: sans-serif; 
    font-size: 13px
}
.grid td.clicked {
    background-color: black;
}

.grid td.red {
    background-color: red;
}

.grid td.clear {
    background-color: transparent;
}*/